.head{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 3.5rem;
}
.head__container{
    width: 50%;
    justify-content: flex-start;
}
.profession{
    font-size: 1.2rem;
}
.name{
    font-size: 1.8rem;
}
.team__image{
    width: 95%;
    height: 80%;
    object-fit: contain;
}
.team__container--position{
    padding-top: 8.5rem;
}